doctype html
html(lang='en', ng-app='app').no-js
    head
        meta(charset='urf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='description' content='MapleServiceTestApp')
        link(rel='apple-touch-icon' href='apple-touch-icon.png')
        //Place favicon.ico in the root directory
        title MapleServiceTestApp
        //- inject:css
        //- endinject
    body
        <!--[if lt IE 8]>
        .browserupgrade
            p.
                You are using an s outdated browser. Please
                #[a(href='http://browsehappy.com/') upgrade your browser]
                to improve your experience.
        <![endif]-->
        ui-view
        //- inject:js
        //- endinject
